*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.first-screen {
  display: flex;
  flex-wrap: wrap;
}

.first-screen__col {
  width: 50%;
  height: 100vh;
}

.first-screen__col:first-child {
  background-color: #A8D1E7;
}

/* .first-screen__col:last-child {
  background-color: green;
} */

.first-screen__col1 {
  height: 50vh;
}


.first-screen__col1:first-child {
  background-color: #F76C6C;
  cursor: pointer;
  transition: 1s all;
}
.first-screen__col1:first-child:hover{
  opacity: 80%;
}

.first-screen__col1:last-child {
  background-color: #24305E;
  cursor: pointer;
  transition: 1s all;
}
.first-screen__col1:last-child:hover{
  opacity: 80%;
}

.logotype{
  padding: 10px 25px 10px;
}
.text-logotype{
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  width: 631px;
  margin-left: 10%;
  margin-top: -6%; 
}
.img-gerb{
  width: 202px;
  height: 255px;
  margin-left: 35%;
  margin-top: 4%;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.25));
}
.img-bg{
  position: absolute;
  /* margin-top: -21%; */
  z-index: 999;
  bottom: 0%;
  left: 1%;
}
p{
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  color: #1E1E1E;
}
.text-title{
  position: absolute;
  width: 540px;
  height: 131px;
  left: 6%;
  /* margin-top: 55%; */
  z-index: 999;
  bottom: 40%;
  font-size: 55px;
}
.text-obl{
  position: absolute;
  font-size: 20px;
  z-index: 999;
  bottom: 34%;
  left: 6%;
}
.img-map{
  width: 369px;
  height: 205px;
  margin-left: 25%;
  margin-top: 5%;
  filter: drop-shadow(14px 14px 5px rgba(0, 0, 0, 0.6));
}
.title-map{
  color: #FFFFFF;
  font-size: 45px;
  margin-left: 5%;
  margin-top: -2%;
}
.txt-map{
  color: #FFFFFF;
  font-size: 20px;
  font-weight:100;
  margin-left: 5%;
  margin-top: -3%;
}
.text-map-href{
  color: rgba(0, 0, 0, 0.38);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-top: -2%;
}
.img-search{
  width: 225px;
  height: 225px;
  margin-left: 35%;
  margin-top: 3%;
}
.block-reviews{
  width: 100%;
  height: 80px;
  background: rgb(168,209,231);
  background: linear-gradient(90deg, rgba(36,48,94,1) 0%, rgba(247,108,108,1) 35%, rgba(36,48,94,1) 100%);
  cursor: pointer;
}
.text-reviews{
  text-align: center;
  color: #FFFFFF;
  font-size: 29px;
  transition: 1.5s all; 
}
.text-reviews:hover{
  font-size: 31px;
  
}


@media (max-width: 900px) {
  .first-screen__col {
    width: 100%;
    min-height: 20vh;
  }

  .first-screen__col1 {
    min-height: 50vh;
  }
  .logotype{
    width: 50px;
    height: 50px;
  }
  .text-logotype{
    width: 300px;
  }
  .text-logotype{
    font-size: 15px;
    margin-left: 15%;
    margin-top: -12%;
  }
  .img-gerb{
    margin-left: 23%;
  }
  .img-bg{
    margin-top: -62%;
  }
  .text-title{
    width: 350px;
    /* margin-left: -1%; */
    margin-bottom: -50px;
    font-size: 35px;
    line-height: 43px;
  }
  .text-obl{
    margin-bottom: -20px;
    /* margin-left: -1%; */
    text-align: center;
  }
  .img-map{
    width: 269px;
    height: 155px;
    margin-left: 12%;
    margin-top: 5%;
  }
  .title-map{
    color: #FFFFFF;
    font-size: 23px;
  }
  .txt-map{
    font-size: 15px;
    font-weight:100;
    margin-left: 5%;
    margin-top: -10%;
  }
  .text-map-href{
    font-size: 15px;
    text-align: center;
    margin-top: 0%;
  }
  .img-search{
    width: 205px;
    height: 205px;
    margin-left: 20%;
    margin-top: 5%;
  }
  .img-bg{
    width: 100%;
    margin-top: 15%;
  }
  .text-reviews{
    font-size: 20px;
  }
  .text-reviews:hover{
    font-size: 24px;
  }
  
}